<mat-table [dataSource]="dataSource">

    <!-- Columna de ID -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>
  
    <!-- Columna de Nombre -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>
  
    <!-- Columna de Correo Electrónico -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Correo Electrónico </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>
  
    <!-- Columna de Teléfono -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
    </ng-container>
  
    <!-- Columna de Acciones -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
  </mat-table>
  