<div class="login-container">
    <mat-card class="login-card">
      <mat-card-title class="login-card-title">Ingresa el identificador del conductor</mat-card-title>
      <!-- <mat-card-title class="login-card-title1"><b>GUATEMALA DEV</b></mat-card-title> -->
      <mat-card-content >
        <mat-form-field class="card-c">
          <input matInput placeholder="Identificador:" type="text"  [(ngModel)]="id">
        </mat-form-field>
      </mat-card-content>
      <!-- <mat-card-actions> -->
        <button mat-flat-button color="primary" (click)="onSubmit()">Validar datos</button>
      
      <!-- </mat-card-actions> -->
    </mat-card>
  </div>
  