<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="login-card-title">Bienvenido al beneficio de café</mat-card-title>
    <mat-card-title class="login-card-title1"><b>GUATEMALA DEV</b></mat-card-title>
    <mat-card-content >
      <mat-form-field class="card-c">
        <input matInput placeholder="Correo:" type="text" id="username" name="username">
      </mat-form-field>
      <div>
        <mat-form-field class="card-c">
          <input matInput placeholder="Contraseña" type="password" id="password" name="password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <!-- <mat-card-actions> -->
      <button mat-flat-button color="primary">Ingresar</button>
    <!-- </mat-card-actions> -->
  </mat-card>
</div>

