<mat-table [dataSource]="tableData">
    <!-- Columna de ID -->
    <ng-container matColumnDef="id_estado_cuenta">
      <mat-header-cell *matHeaderCellDef> id_estado_cuenta </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id_estado_cuenta}} </mat-cell>
    </ng-container>

        <!-- Columna de Nombre -->
    <ng-container matColumnDef="id_cuenta">
        <mat-header-cell *matHeaderCellDef> id_cuenta </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id_cuenta}} </mat-cell>
    </ng-container>
  
    <!-- Columna de Nombre -->
    <ng-container matColumnDef="peso_esperado">
      <mat-header-cell *matHeaderCellDef> peso_esperado </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.peso_esperado}} </mat-cell>
    </ng-container>
  
    <!-- Columna de Correo Electrónico -->
    <ng-container matColumnDef="peso_total">
      <mat-header-cell *matHeaderCellDef> peso_total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.peso_total}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="diferencia">
        <mat-header-cell *matHeaderCellDef> diferencia </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.diferencia}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef> estado </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef> fecha </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fecha}} </mat-cell>
    </ng-container>
  
    <!-- Columna de Acciones -->
     <ng-container matColumnDef="imprimir">
      <mat-header-cell *matHeaderCellDef> Imprimir </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <button mat-icon-button color="success" (click)="print(element.id_cuenta ,element.peso_esperado ,element.peso_total ,element.diferencia , element.estado, element.fecha)">
          <mat-icon>print</mat-icon>
        </button>
        <!-- <button mat-icon-button color="warn" (click)="eliminar_vehiculo(element.id_transporte)" >
          <mat-icon>delete</mat-icon>
        </button>-->
        </mat-cell> 
    </ng-container> 
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
  </mat-table>
